[Unit]
Description=Tanlov service
Requires=tanlovs.socket
After=network.target

[Service]
User=root
Group=root
WorkingDirectory=/home/ali/tanlovs/
ExecStart=/home/ali/tanlovs/.venv/bin/gunicorn \
          --access-logfile - \
          --workers 3 \
          --bind unix:/run/tanlovs.sock \
          config.wsgi:application

[Install]
WantedBy=multi-user.target
